<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header" translate="yealtube.user.home.title">User</h1>
		</div>
		<!-- /.col-lg-12 -->
	</div>
	<!-- /.row -->
</div>
<!-- <h2 translate="yealtube.user.home.title">Categories</h2> -->

<div class="container">
	<!-- spinner -->
	<span us-spinner="{radius:30, width:8, length: 16}" spinner-key="spinner-1"></span>
	<!-- end spinner -->
	<div class="row">
		<div class="col-md-8">
			<div class="alert alert-danger" ng-show="invalidQuerySearch" translate="yealtube.user.error.message.querySearch">
		        Invalid query search!
		    </div>
	    </div>
	</div>
    <div class="row">
        <div class="col-md-4">
            <button class="btn btn-primary" data-toggle="modal" data-target="#saveUserModal" ng-click="clear()">
                <span class="glyphicon glyphicon-flash"></span> <span translate="yealtube.user.home.createLabel">Create a new User</span>
            </button>
        </div>
        <div class="col-md-8">
            <form name="searchForm" class="form-inline">
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="searchQuery" ng-change="change()" id="searchQuery" placeholder="query">
                </div>
                <button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Search a User</span>
                </button>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="saveUserModal" tabindex="-1" role="dialog" aria-labelledby="myUserLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form name="editForm" role="form" novalidate ng-submit="save()" show-validation>
<!--                 <div class="modal-header"> -->
<!--                     <button type="button" class="close" data-dismiss="modal" aria-hidden="true" -->
<!--                             ng-click="clear()">&times;</button> -->
<!--                     <h4 class="modal-title" id="myUserLabel" translate="yealtube.user.home.createOrEditLabel">Create or edit a User</h4> -->
<!--                 </div> -->
                <div class="modal-body">
                	<div class="form-group">
						<div class="alert alert-danger" ng-show="invalidName" translate="yealtube.user.error.message.invalidName">
					        Invalid name!
					    </div>
				    </div>
				    
                    <div class="form-group">
                        <label>ID</label>
                        <input type="text" class="form-control" name="id"
                               ng-model="user.id" readonly>
                    </div>

                    <div class="form-group">
                        <label translate="yealtube.user.login">login</label>
                        <input type="text" class="form-control" name="login"
                               ng-model="user.login" required>

                        <div ng-show="editForm.login.$invalid">
                            <p class="help-block"
                               ng-show="editForm.login.$error.required" translate="entity.validation.required">
                                This field is required.
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label translate="yealtube.user.email">email</label>
                        <input type="text" class="form-control" name="email"
                               ng-model="user.email" required>

                        <div ng-show="editForm.email.$invalid">
                            <p class="help-block"
                               ng-show="editForm.email.$error.required" translate="entity.validation.required">
                                This field is required.
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label translate="yealtube.user.firstName">firstName</label>
                        <input type="text" class="form-control" name="firstName"
                               ng-model="user.firstName">
                        <div ng-show="editForm.firstName.$invalid">
                            <p class="help-block"
                               ng-show="editForm.firstName.$error.required" translate="entity.validation.required">
                                This field is required.
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label translate="yealtube.user.lastName">lastName</label>
                        <input type="text" class="form-control" name="lastName"
                               ng-model="user.lastName" >
                        <div ng-show="editForm.lastName.$invalid">
                            <p class="help-block"
                               ng-show="editForm.lastName.$error.required" translate="entity.validation.required">
                                This field is required.
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                         <label translate="yealtube.user.userGroupId">userGroupId</label>
                         <input type="text" class="form-control" name="userGroupId"
                                ng-model="user.userGroupId" min="0">

                         <div ng-show="editForm.userGroupId.$invalid">
                             <p class="help-block"
                                ng-show="editForm.userGroupId.$error.min" translate="entity.validation.min" translate-value-min="0">
                                 This field should be more than 0.
                             </p>
                             <p class="help-block"
                                ng-show="editForm.userGroupId.$error.number" translate="entity.validation.number">
                                 This field should be a number.
                             </p>
                         </div>
                         <div ng-show="editForm.userGroupId.$invalid">
                            <p class="help-block"
                               ng-show="editForm.userGroupId.$error.required" translate="entity.validation.required">
                                This field is required.
                            </p>
                        </div>
                        <div ng-show="editForm.userGroupId.$invalid">
                            <p class="help-block"
                               ng-show="editForm.userGroupId.$error.required" translate="entity.validation.required">
                                This field is required.
                            </p>
                        </div>
                     </div>
                     <div class="form-group">
                        <label translate="yealtube.user.activated">activated</label>
                        <input type="text" class="form-control" name="activated"
                               ng-model="user.activated" required>

                        <div ng-show="editForm.activated.$invalid">
                            <p class="help-block"
                               ng-show="editForm.activated.$error.required" translate="entity.validation.required">
                                This field is required.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                        <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                    </button>
                    <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary">
                        <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteUserConfirmation">
    <div class="modal-dialog">
        <div class="modal-content">
            <form name="deleteForm" ng-submit="confirmDelete(user.id)">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                            ng-click="clear()">&times;</button>
                    <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                </div>
                <div class="modal-body">
                    <p translate="yealtube.user.delete.question" translate-values="{id: '{{user.id}}'}">Are you sure you want to delete this User?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                        <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                    </button>
                    <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                        <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th translate="yealtube.user.login">login</th>
                <th translate="yealtube.user.email">email</th>
                <th translate="yealtube.user.firstName">firstName</th>
                <th translate="yealtube.user.lastName">lastName</th>
                <th translate="yealtube.user.userGroupId">userGroupId</th>
                <th translate="yealtube.user.activated">activated</th>
                <th></th>
            </tr>
        </thead>
        <tbody infinite-scroll="loadPage(page + 1)" infinite-scroll-disabled="links['last'] == page">
            <tr ng-repeat="user in users">
                <td><a ui-sref="userDetail({id:user.id})">{{user.id}}</a></td>
                <td>{{user.login}}</td>
                <td>{{user.email}}</td>
                <td>{{user.firstName}}</td>
                <td>{{user.lastName}}</td>
                <td>{{user.userGroupId}}</td>
                <td>{{user.activated}}</td>
                <td>
                    <button type="submit"
                            ui-sref="userDetail({id:user.id})"
                            class="btn btn-info btn-sm">
                        <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                    </button>
                    <button type="submit"
                            ng-click="showUpdate(user.id)"
                            class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                    </button>
                    <button type="submit"
                            ng-click="delete(user.id)"
                            class="btn btn-danger btn-sm">
                        <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
